body{
    background-color: lightgray;
}

.container{
    height: 200px;
    width: 200px;
    /* border: solid red 1px; */
    position: relative;
}

.item{
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
}

.anim{
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.anim-1{
    margin-left: 40%;
    animation-name: animation-1;

}

@keyframes animation-1 {
    0%{
        margin-top: 0%;
        background-color: blue;
    }
    100%{
        margin-top: 80%;
        background-color: red;
    }
}

.anim-2{
    animation-name: animation-2;
}

@keyframes animation-2{

    0%{
        margin-top: 80%;
        margin-left: 0%;
        background-color: orange;
    }
    100%{
        margin-top: 0%;
        margin-left: 80%;
        background-color: purple;
    }

}
.anim-3{

    animation-name: animation-3;
}


@keyframes animation-3 {
    0%{
        margin-left: 0%;
        background-color: green;
    }
    33%{
        margin-top: 0%;
        margin-left: 80%;
        background-color: aqua;
    }
    66%{
        margin-top: 80%;
        margin-left: 0%;
        background-color: darksalmon;
    }
    100%{
        margin-top: 80%;
        margin-left: 80%;
        background-color: black;
    }

}

